/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;

}

html, body, button {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body, div, section, nav, img, a {
	/* border: 1px dotted black; */
}

nav {
	margin: auto;
	text-align: center;
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

nav a, nav img {
	margin: 0% 2%;
	vertical-align: middle;
	padding: .5em .5em;
}

.btnGetStarted {
	background-color: white;
	color: black;
	width: 30%;
	height: 2em;
}

header .headerLeft, .headerRight {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
}

.headerLeft {
	text-align: center;
	font-size: 3em;
}

.headerRight {
	width: 379px;
	height: 379px;
	background: url("../img/header-img.png") no-repeat;
}

.headerRight:hover {
	background-size: 379px 379px;
	background: url("../img/smiley-face.jpg") no-repeat;
}

.middle-img {
	width: 100%;
	margin: 1em 0em;
}

.divContentTop, .divContentBottom {
text-align: center;
}

.divContentTop section{
	width: 45%;
	margin: 0em 1em;
}

.divContentBottom section {
	width: 29%;
	margin: 0em 1em;
}
div section {
	display: inline-block;
}

.divDivider {
	border: 1px solid black;
	margin: 1em 0em;
}

.copyrightCenter {
	text-align: center;
	margin: 1em;
}